/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    transition: all 0.55s ease;
}


body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

/* Header */
header {
    background-color: #ffc619;
    color: white;
    padding: 1rem 0;
    text-align: center;
    display: flex;
}

header img {
    width: 100px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 1.5rem;
}


header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}

header nav ul li a:hover {
    text-decoration: underline;
}

form input {
    padding: 0;
    border: none;
    background: none;
}

form button {
    border: none;
    background: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* Genre Banner */
.genre-banner {
    background: #182833;
    padding: 1rem 0.5rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.genre-banner ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0;
}

.genre-banner ul li {
    margin: 0;
}

.genre-banner ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 0.5rem 1rem;
    background: white;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.genre-banner ul li a:hover {
    color: white;
    background: #ffc500;
    transform: scale(1.1);
}

/* Layout */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

/* Movie Grid */
.movie-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

article {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

article:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Movie Poster Styling */
.movie-poster {
    flex: 1;
    background-size: cover;
    background-position: center right;
    position: relative;
}

.movie-poster::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, black, transparent);
}

/* Movie Info */
.movie-info {
    flex: 2;
    padding: 1rem;
}

.movie-info h3 {
    font-size: 1.4rem;
    color: #ffc619;
    margin-bottom: 0.5rem;
}

footer h2 {
    font-size: 1.8rem;
    color: #ffc619;
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

